.App {
  text-align: center;
}

.nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav li {
  margin-right: 1rem;
}

.App-link {
  color: #5953ad, #df8c0f;
}
/*  #ffdb00 #ab7d00 #5d5d5d #b15b12 #964b0a #773a06 #876c4a #ead2a0*/

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
