.App {
  text-align: center;
}

.App-header {
  background-color: #df8c0f;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; /* Расстояние между секциями */
  font-size: calc(10px + 2vmin);
  color: black;
}

.left-section,
.center-section,
.right-section {
  flex: 1; /* Равномерное распределение пространства */
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  background-color: #740ea3 !important;
  height: 10vmin;
  width: 60vb;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav li {
  margin-right: 1rem;
}

.App-link {
  color: #5953ad, #df8c0f;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

