.App {
  text-align: center;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; /* Расстояние между секциями */
  font-size: calc(10px + 2vmin);
  color: black;
}

.left-section {
  flex: 0.3; /* Равномерное распределение пространства */
  display: flex;
  align-items: center;
  justify-content: center;
}
.center-section {
  flex: 1.7; /* Равномерное распределение пространства */
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-section {
  flex: 1; /* Равномерное распределение пространства */
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  background-color: #c30df1 !important;
  height: 10vmin;
  width: 250vb;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav li {
  margin-right: 1rem;
}

.App-link {
  color: #5953ad, #df8c0f;
}
/*  #ffdb00 #ab7d00 #5d5d5d #b15b12 #964b0a #773a06 #876c4a #ead2a0*/

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
