@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff;
  color: #222;
  font-family: "Aerial", sans-serif;
  font-weight: 300;
}

.wrapper {
  width: 100%;
}

.name {
  font-weight: 600;
  font-size: 1.1em;
  color: black;
}

.center-section {
  background-color: #d0e0cc;
  height: 100px;
}

.right-section {
  background-color: #d0e0cc;
  height: 100px;
  text-align: center;
  list-style-type: none;
}

.right-section div {
  margin-left: 60px;
  font-weight: 600;
}

.right-section div:hover {
  cursor: ч;
  text-decoration: underline;
}

.left-section {
  background-color: #d0e0cc;
}

footer {
  text-align: center;
  margin-top: 100px;
  font-weight: 600;
}

.quiz {
  text-align: center;
  font-weight: 400;
  margin-left: 30px;
  font-size: 20px;
}
.quiz label {
  display: block;
}

.quizRadio {
  margin-top: 15px;
  margin-left: 30px;
}

.question {
  margin-top: 30px;
  margin-left: 30px;
}

.question input {
  float: left;
  margin-right: 10px;
}
.question label {
  display: block;
  overflow: hidden;
}

.mainQuestion {
  font-size: large;
  font-weight: 100;
}

.mainQuestion label {
  margin-left: 30px;
  font-size: 1.5em;
}

.mainQuestion p {
  font-size: 1.5em;
}

.otherQuestion label {
  margin-left: 30px;
  font-size: 1.5em;
}

.otherQuestion p {
  font-size: 1.5em;
}

.otheruestion label {
  margin-left: 30px;
}

.recomendation {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.recomendation div {
  margin-bottom: 10px;
  margin-top: 30px;
}

.recomendation button {
  margin-left: 30px;
  margin-bottom: 10px;
  padding-right: 500px;
  font-size: large;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.recomendation button:hover {
  margin-bottom: 10px;
  padding-right: 100px;
  text-decoration: underline;
}

.form-container {
  padding: 15px;
  font-family: Arial, sans-serif;
}

.form-container div {
  margin-bottom: 10px;
}

.form-container h1 {
  padding: 15px;
}

.form {
  margin-left: 25px;
}

.recommendation-item {
  border: 3px solid #67249d;
  padding: 10px;
  margin-bottom: 10px;
}

.recommendation-id {
  font-weight: bold;
}

footer {
  margin-bottom: 10px;
}

.description {
  padding-left: 15em;
  background-color: #e7ede6;
}

.description p {
  font-size: 20px;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-right: auto;
  width: 67em;
}

.descriprionButton {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 25px;
  margin: 0 15px 15px 0;
  outline: none;
  border: 1px solid #8da68d;
  border-radius: 50px;
  height: 46px;
  line-height: 46px;
  font-size: 1em;
  font-weight: 600;
  text-decoration: none;
  color: white;
  background-color: #8da68d;
  width: 15em;
  box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
  cursor: pointer;
  user-select: none;
  appearance: none;
  touch-action: manipulation;
  vertical-align: top;
  transition: box-shadow 0.2s;
}
.descriprionButton:focus-visible {
  border: 1px solid #4c51f9;
  outline: none;
}
.bdescriprionButtontn:hover {
  transition: all 0.2s;
  box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}
.descriprionButton:active {
  background-color: #808080;
}

.instruction {
  margin: 2em 0 2em 0;
  font-size: 1.3em;
  padding-left: 2em;
}

.instruction ul {
  margin-top: 30px;
}

.questions-item span {
  font-size: 1.6em;
}

.questions-answer {
  font-weight: 600;
}

.recommendation-item span {
  font-size: 1.5em;
}

.instruction button {
  font-size: 18px;
  padding: 10px 20px;
  background-color: #f0f0f0;
  color: #333;
  border: none;
  cursor: pointer;
}

.instruction button:hover {
  background-color: #ccc;
}

.instruction {
  margin-top: 20px;
  margin-left: 20px;
}

.description {
  margin-right: 20px;
}

footer {
  margin-right: 20px;
}
