@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

* {
  margin: 0;
  padding: 0;

}

body {
  background: #ffffff;
  color: #222;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.wrapper {
  width: 1920px;
}

header .logo{
  font-weight: 600;
  font-size: 30px;
}

header ul.nav{
  float: right;
  margin-right: 50px;
  margin-top: 20px;
  list-style: none;
  font-weight: 600;
}

header ul.nav li{
  font-size: 20px;
  display: inline;
  margin-left: 25px;
  cursor: pointer;
  transition: opacity 500ms ease;
}

header ul.nav li:hover{
  opacity: 0.5;
}

header .presentation{
  background: url('img/risk.jpeg') ;
  width: 225px;
  height: 225px;
}

footer{
  text-align: center;
  margin-top: 100px;
  font-weight: 600;
}

form label{
  margin-left: 30px;
}
